html{
    background-color: rgb(46, 73, 52);
    color: rgb(254, 255, 242);
    font-family: FreeMono, monospace;
}
.navHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(5, 43, 14);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px;
    height: 50px;
    font-size: 20px;

    a{
        padding-right: 10px;
        color: rgb(254, 255, 242);
    }  
}
img{
    margin: 10px;
}
a{
    color: rgb(254, 255, 242);
}
main{
    padding-top: 70px;
    font-size: 20px;
}

.homeInfo{
    display: flex;
    img{
        height: 250px;
        padding: 8px;
        border: 5px solid rgb(21, 43, 24);
        box-sizing: border-box;
    }
}
.homePage{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.quote{
    text-align: center;
    font-size: 30px;
}
.contactInfo{
    margin-left: 10%;
    margin-right: 10%;
}
.projectList{
    section:nth-child(odd){
        background-color: rgb(57, 97, 56);
    }

    section{
        padding: 20px;
    }
}